
/* colors
Gold/Yellow: #FFD700;
Dark Gold/Yellow: #E6B800; */


/* text color
Light Golden/Yellow:#704214; */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-size: 1.3rem;
    font-family: "lato", sans-serif;
    font-weight: 400;
    line-height: 1.5rem;
    color: #777;
    margin: .5rem;
    
    
}


.header{
    height: 95vh;
    background-image:linear-gradient(to right bottom,#ffd900b0,#e6b800cc),url(/Images/hero-image.jpg) ;
    background-size: cover;
    background-position: top;
    position: relative;
    
    
}


.header-logo{
    position: absolute;
    top: 1rem;
    left: 1rem;
    
}

.logo-box{
    background-image: url(/Images/logo.png);
    background-size: cover;
    height: 8rem;
    width: 8rem;
}

.header-text-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;

}
.header-heading-box{
    text-transform: uppercase;
    margin-bottom: 3rem;
    line-height: 5rem;


}

.header-heading-first{
    display: block;
    color: #704214;
    font-weight: 900;
    letter-spacing: 1rem;
    font-size: 3.8rem;
    animation: heading-first .8s ease-out;
    
}
.header-heading-second{
    display: block;
    color: #704214;
    letter-spacing: .8rem;
    font-weight: 800;
    font-size: 3rem;
    animation: heading-second .8s ease-out;
}


@keyframes heading-first{
    0%{
        transform: translateX(-50px);
        opacity: 0;
    }

    80%{
        transform: translateX(20px);
        opacity: 1;
    }

    100%{
        transform: translateX(0);
        opacity: 1;
    }
}


@keyframes heading-second{
    0%{
        transform: translateX(50px);
        opacity: 0;
    }

    80%{
        transform: translateX(-20px);
        opacity: 1;
    }

    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

/* button */

.button:link,
.button:visited{
    text-decoration: none;
    padding: 1.5rem 3rem;
    display: inline-block;
    text-transform: uppercase;
    transition: all .2s;
}

.button:hover{
    transform: translateY(-4px);
}

.button:active{
    transform: translateY(1px);
}

.button-brown{
    background-color: #704214;
    color:#FFD700;
    border-radius: 100px;

}




