.continental-food{
    padding: 15rem 0;
    background-color: $light-gray;
    margin-top: -25vh;
    

    

    
}

.continental-food-heading{
    margin-bottom: 1rem;
    font-weight: 600;
    color: #777;
    text-transform: uppercase;
    
}


.continental-food-paragrapgh{

    &:not(:last-child) {
        margin-bottom: 1rem;
    }

}

.button-text{
    &:link,
    &:visited{
        text-decoration: none;
    color: $color-dark-brown;
    font-size: 1.5rem;
    font-weight: 600;
    border-bottom: 1px solid $color-dark-brown;
    padding: .5rem 0;
    display: inline-block;
    transition: all .2s; }

    &:hover{
        background-color: $color-dark-brown;
        color: $color-primary-light;
        transform: translateY(-3px);
        box-shadow: 0 2rem 3rem rgba($color: #000000, $alpha: .15);
        border-bottom: none;
    }

    &:active{
        transform: translateY(-1px);
        box-shadow: 0 2rem 3rem rgba($color: #000000, $alpha: .2);
    }

    
    
}


.composition{
    position: relative;

    &-photo{
        width: 50%;
        box-shadow: 0 1.5rem 2rem rgba($color: #000000, $alpha: .15);
        position: absolute;
        transition: all .3s;
        


        &-p1{
            top: -2rem;
            left: 0;
            z-index:10 ;
            
        }

        &-p2{

            top: 2rem;
            right:20%;
            z-index: 20;
            
        }
        &-p3{
            top: 10rem;           
            left: 15%;
            z-index: 30;

        }

        &:hover{
            transform: scale(1.1);
            outline: 5px solid $color-primary-light;
            box-shadow: 0 2.5rem 2rem rgba($color: #000000, $alpha: .3);
            z-index: 40;
        }
    }
    
}




