.feature-section{
    padding: 15rem 0;
    background-image:linear-gradient(to right bottom,rgba($color-primary-light,.9),rgba($color-primary-dark,.9)), url(/Images/feature-image.jpg);
    background-size: cover;
    margin-top: -6.5rem;

    transform: skewY(-7deg);

    &>*{
        transform: skewY(7deg);
    }

}


.feature-box{
    background-color: $light-gray;
    padding: 2rem 1.5rem;
    text-align: center;
    color: $color-dark-brown;
    transition: all .4s;

    &:hover{
        transform: translateY(-1.5rem) scale(1.2);
    }
}

.feature-icon{
    font-size: 5rem;
    background-image: linear-gradient(to right,$color-primary-light,$color-primary-dark);
    -webkit-background-clip: text;
    color: transparent;
}

// .paragraph{
//     font-size: 1.3rem;
// }