.food-section{
    background-color: $light-gray;
    padding: 20rem 0 15rem 0;
    margin-top: -6.5rem;
}

.card{
    perspective: 150rem;
    position: relative;
    height: 43rem;

    &-side{
        height: 43rem; 
        transition: all .8s ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        backface-visibility: hidden;
        border-radius: 3px;
        overflow: hidden;

        &-front{
            background-color: #fff;

            
        }


        &-back{
            
            transform: rotatey(180deg);

            &-2{
                background-image: linear-gradient(to right bottom, $color-primary-light,$color-primary-dark);
            }
        }
    }

    
    &:hover &-side-front{
        transform: rotatey(-180deg);
    }

    &:hover &-side-back{
        transform: rotatey(0);
    }

    // front side styling

    &-image {
        height: 18rem;
        background-size: cover;
        background-blend-mode: screen;

        clip-path: polygon(0 0,100% 0,100% 85%,0 100%);
        -webkit-clip-path: polygon(0 0,100% 0,100% 85%,0 100%);

        &-1{
            background-image: linear-gradient(to right bottom, rgba($color-primary-light,.85),rgba($color-primary-dark,.85)),url(/Images/food-1.jpg);
        }
        
    }

    &-heading{
        color: #fff;
        font-size: 2rem;
        font-weight: 300;
        text-transform: uppercase;
        position: absolute;
        top: 10rem;
        right: 1.5rem;
        text-align: right;
        width: 75%;
        

        
    }

    &-heading-span{
        padding: 1rem 1.5rem;
        box-decoration-break: clone;

        &-1{
            background-image: linear-gradient(to right bottom, rgba($color-primary-light,.8), rgba($color-primary-dark,.8));

        }
    }
    
    &-details{

        color: $color-primary-light;
        font-size: 1.3rem;
        text-align: center;
        padding: 2rem;
        

        ul{
            display: inline-block;

            li{
                list-style: none;
                padding: 1rem;
                // margin-bottom: 1.5rem;

                &:not(:last-child){
                    border-bottom: 1px solid $color-dark-brown;

                }
                
                
                


            }
        }
    }

    &-CTA{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-transform: uppercase;
    }

    &-price-box{
        text-align: center;
        margin-bottom: 6rem;


    }

    &-price-only{

        font-size: 2rem;
        margin-bottom: 3rem;

    }

    &-price-value{
        font-size: 4rem;
        font-weight: 100;
    }

}