.food-section{
    background-color: $light-gray;
    padding: 20rem 0;
    margin-top: -6.5rem;
}

.food-box{
    background-color: #fff;
    height: 40rem;
    transition: all .5s;

    &:hover{
        transform: rotatey(180deg);
        background-color: orangered;
    }

}