/* colors
Gold/Yellow: #FFD700;
Dark Gold/Yellow: #E6B800; */


/* text color
Light Golden/Yellow:#704214; */



$color-primary-light:#FFD700;
$color-primary-dark:#E6B800;
$color-dark-brown:#704214;
$light-gray:#eee;



// grid

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;